body {
    background-color: #24252E;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
}

.Header {
    position: absolute;
    width: 100%;
    height: 80px;
    background: #00000060;
    display: flex;
}

.Header p {
    color: white;
    font-size: 24px;
    margin-left: 38px;
    margin-top: 28px;
    padding-right: 38px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.Header a {
    text-decoration: none;
    color: white;
    float: right;
}

.Header h1 {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    margin-right: 35px;
    margin-top: 31px;
}

.holder {
    display: grid;
}

.home {
    width: 100%;
    height: 900px;
}

.home img {
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.about {
    background-color: #24252E;
    text-align: center;
}

.about img {
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.about .text {
    width: 100%;
    height: 200px;
    background-color: #24252E;
}

.about p {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    padding-left: 10px;
    margin-top: 40px;
}

.about .start {
    color: #7A8291;
}

.about .mid {
    color: #ffffff;
}

.about .end {
    color: #7EC8E8;
}

.about h3 {
    font-size: 20px;
    color: #575961;
    font-family: 'Tajawal', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.about button {
    background: white;
    border: none;
    border-radius: 0;
    font-family: 'Nunito', sans-serif;
    color: #6C7381;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 34px;
}

.endweb {
    text-align: center;
    font-size: 16px;
    color: #575961;
    font-family: 'Tajawal', sans-serif;
}

@media only screen and (max-width: 768px) {
    .Header {
        display: block;
        text-align: center;
    }
    .Header h1 {
        visibility: hidden;
    }
    .home {
        height: 600px;
    }
    .about .text {
        height: 300px;
    }
    .about img {
        height: 600px;
    }
    .about p {
        font-size: 36px;
    }
    .about h3 {
        font-size: 28;
    }
}