body {
    background-color: #24252E;
    background-size: cover;
    font-family: sans-serif;
    margin: 0;
}

.Header {
    position: absolute;
    width: 100%;
    height: 80px;
    background: #00000060;
    display: flex;
}

.Header p {
    color: white;
    font-size: 24px;
    margin-left: 38px;
    margin-top: 28px;
    padding-right: 38px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.Header a {
    text-decoration: none;
    color: white;
    float: right;
}

.Header h1 {
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    margin-right: 35px;
    margin-top: 31px;
}

.holder {
    display: grid;
}

.home img {
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.home p {
    color: #24252E;
    font-family: 'Tajawal', sans-serif;
    font-size: 48px;
    font-weight: bold;
    z-index: 1;
    background: white;
}

.home a {
    color: #24252E;
    font-family: 'Tajawal', sans-serif;
    font-size: 48px;
    font-weight: bold;
    z-index: 1;
    background: white;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
}

.home div {
    position: absolute;
    transform: translate(-50%, 50%);
    top: 50%;
    left: 50%;
    text-align: center;
    width: 600px;
    height: 100px;
    z-index: 0;
}

.home .wt-1 {
    top: 25%;
    left: 90%;
    width: 300px;
}

.home .wt-2 {
    top: 40%;
    left: 80%;
}

.home .d {
    top: 40%;
    left: 15%;
}

.about {
    background-color: #24252E;
    text-align: center;
}

.about img {
    width: 100%;
    height: 900px;
    object-fit: cover;
}

.im img {
    display: inline-block;
    width: 49%;
}

.about .text {
    width: 100%;
    height: 200px;
    background-color: #24252E;
}

.about p {
    display: inline-block;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    padding-left: 10px;
    margin-top: 40px;
}

.about .start {
    color: #7A8291;
}

.about .mid {
    color: #ffffff;
}

.about .end {
    color: #7EC8E8;
}

.about h3 {
    font-size: 20px;
    color: #575961;
    font-family: 'Tajawal', sans-serif;
    padding-left: 20px;
    padding-right: 20px;
}

.about button {
    background: white;
    border: none;
    border-radius: 0;
    font-family: 'Nunito', sans-serif;
    color: #6C7381;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 34px;
}

.endweb {
    text-align: center;
    font-size: 16px;
    color: #575961;
    font-family: 'Tajawal', sans-serif;
}

@media only screen and (max-width: 768px) {
    .Header {
        height: 60px;
        display: block;
        text-align: center;
    }
    .Header p {
        font-size: 18px;
        margin-top: 18px;
    }
    .Header h1 {
        visibility: hidden;
    }
    .home img {
        height: 300px;
    }
    .about .text {
        height: 130px;
    }
    .about img {
        height: 300px;
    }
    .about p {
        margin-top: 20px;
        font-size: 18px;
    }
    .about h3 {
        font-size: 12;
    }
    .endweb {
        font-size: 10px;
    }
    .home div {
        width: 60px;
    }
    .home p {
        font-size: 20px;
    }
    .home a {
        font-size: 20px;
    }
    .home .wt-1 {
        top: 10%;
        left: 80%;
        width: 120px;
    }
    .home .wt-2 {
        top: 15%;
        left: 70%;
        width: 230px;
    }
    .home .d {
        top: 10%;
        left: 20%;
        width: 120px;
    }
}